$main-color: #004a80;
$accent-color: #69A93D;
$white: #fff;
$black: #000;

.flex {
	display: flex;
	align-items: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

